{% extends 'base.html.twig' %}

{% block title %}Couette{% endblock %}

{% block main %}
    <h1>Détails Couette et Cafés</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N° de Couette</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacité (en nombre de personne)</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficie (en mètres carrés)</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Prix en € par nuit</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ room.address }}</td>
            </tr>
            <tr>
                <th>Régions</th>
                  {% for region in room.regions %}
                     <td><a href="{{ path('region_show', {'id' : region.id}) }}">{{ region.name }}</a></td>
                    <br>
                    {% endfor %}
            </tr>
            <tr>
                <th>Propriétaire</th>
                 <td><a href="{{ path('owner_show', {'id' : room.owner.id}) }}">{{ room.owner.familyname }}</a></td>
            </tr>
            <tr>
                <th>Aperçu</th>
                <td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('room_index') }}">retour à a liste des couettes et cafés</a>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('room_edit', {'id': room.id}) }}">editer cette couette</a>

      {{ include('room/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
