{% extends 'base.html.twig' %}

{% block title %}propriétaires{% endblock %}

{% block main %}
    <h1>Liste des propriétaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° de Propriétaire</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Addresse</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.firstname }}</td>
                <td>{{ owner.familyname }}</td>
                <td>{{ owner.address }}</td>
                <td>{{ owner.country }}</td>
                <td>
                    <a href="{{ path('owner_show', {'id': owner.id}) }}">voir le profil</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('owner_edit', {'id': owner.id}) }}">editer le profil</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun propriétaires enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('owner_new') }}">Créer un nouveau propriétaire</a>
    {% endif %}
{% endblock %}
