{% extends 'base.html.twig' %}

{% block title %}Recherche {{region.name}}{% endblock %}

{% block main %}
    <h1>Couettes et cafés disponibles dans {{region.name}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° de couette</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Capacité (en nombre de personne)</th>
                <th>Superficie (en mètres carrés)</th>
                <th>Prix en € par nuit</th>
                <th>Adresse</th>
                <th>Actions</th>
                <th>Aperçu</th>
            </tr>
        </thead>
        <tbody>
        {% for room in region.rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.summary }}</td>
                <td>{{ room.description }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.superficy }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.address }}</td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id}) }}">voir</a>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('room_edit', {'id': room.id}) }}">éditer</a>
                    {% endif %}
                </td>
                <td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Il n'y a pas de couettes et cafés disponibles dans cette région</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('region_index') }}">Voir toutes les régions</a>
{% endblock %}
